.infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    height: 480px;
  }

  .list-item-meta {
    align-items: center;
  }

  .has-error-text {
    padding: 12px;
    font-weight: 700;
  }