.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
}

nz-header {
  background: #fff;
  padding: 0;
  margin-bottom: 16px;
}

nz-content {
  margin: 0 16px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 150px);
}

nz-footer {
  text-align: center;
}
